[defaults]
inventory = inventory.ini
private_key_file = ~/.ssh/TERRAFORM.pem
host_key_checking = False
timeout = 30
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
